--root {
  --english-violet: #39304A;
  --earth-yellow: #EEB66D;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #39304A;
  color: whitesmoke;
}

header {
  width: 100%;
  height: 10%;
  margin-bottom: 25px;
  background-color: #EEB66D;
  opacity: 0.8;
  color: #39304A;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#small-title {
  margin-left: 10px;
  padding: 20px;
  font-size: 32px;
  text-shadow: 1px 5px 10px;

}

#nav {
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  text-shadow: 1px 5px 10px;
}

#nav > li {
  padding: 5px;
}

a {
  text-decoration: none;
}


li  {
  display: inline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.error {
  max-width: 500px;
  margin: auto;
}

.error-heading {
  height: 300px;
}

.error-h1 {
  position: absolute;
  top: 26px;
}

.womp-womp {
  margin-left: 26px;
  margin-right: auto;
  height: 250px;
  filter: grayscale(100%);
}

/*Contact page*/
.contact-card{
  border: 2px solid #EEB66D;
  border-radius: 5%;
  max-width: 80%;
  margin: auto;
}
.contact-card>p{
  text-align: center;
}
.contact-card>div{
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}
.contact-card>a:hover{
  color:var(--earth-yellow)
}
/* forms */

.card {
  background-color: #EEB66D;
  margin: auto;
  color: #39304A;
  width: 400px;
  min-height: 300px;
  padding: 10px;
  border-radius: 10px;

}

.card h1 { 
  text-align: center;
  padding: 10px;
  margin:20px 0;
  font-size: 30px;
}

.card p {
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
}

.card > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.card input[type="text"] {
  padding: 5px;
  border-radius:10px;
  border: none;
}

.card input[type="email"] {
  padding: 5px;
  border-radius:10px;
  border: none;
}

.card input[type="password"] {
  padding: 5px;
  border-radius:10px;
  border: none;
}

.card input[type="submit"] {
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  background-color: #39304A;
  color: white;
  text-transform: uppercase;
} 

.card input[type="reset"] {
  margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #39304A;
    color: #39304A;
}

label {
  flex-basis: 100%;
  padding: 10px;
  font-weight: bold;
}

.card .space-between {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  padding: 5px;
}

@media only screen and (max-width: 500px) {

  #small-title {
    font-size: 28px;
  }
  .card {
    width: 80%;
  }

}
  
